@model PavlicWebShop.Models.Binding.ProductCategoryBinding
@{
    ViewData["Title"] = "NewProductCategory";
}

<h3>New Product Category</h3>

<hr />
<form action="/Product/AddProductCategory" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="card col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
             <div class="col-12">
                <input type="submit" class="btn btn-success" value="Submit"><a></a>
                <a asp-action="ProductCategorysList" class="btn btn-danger">Cancel</a>
            </div>
        </div>
</div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }